<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<b> {{ site.description }}</b>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
<li class="menu__entry"><a href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a></li>
<li class="menu__entry"><a href="{{ '/projects.html' | prepend: site.baseurl }}">Projects</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank" title="Email">
<i class="fa fa-envelope"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank" title="GitHub">
<i class="fab fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank" title="LinkedIn">
<i class="fab fa-linkedin"></i>
</a>
{% endif %}
{% if site.author.scholar %}
<a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user={{ site.author.scholar }}" class="social-links__entry" target="_blank" title="Google Scholar">
<i class="fab fa-google-scholar"></i>
</a>
{% endif %}
</ul>
</header>
